<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
    <!-- <button class="btn btn-success" [routerLink]="['new']">New Recipe</button> -->
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12">
    <div class="list-group">
      <app-recipe-item
        *ngFor="let re of recipes; let i = index"
        [recipe]="re"
        [index]="i"
      ></app-recipe-item>
    </div>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
